body {
    font-family: Arial, sans-serif;
    background-color: #eff5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(114, 42, 42, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2a4408;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #33803a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#mensagem {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.mensagem-valida {
    color: green;
}

.mensagem-invalida {
    color: red;
}